<div class="parent">
  <div class="div1 sec stack">
    <img src="../../assets/golden_wave_pattern_ui_ux.png" alt="Abstract golden Wavy Lines Wallpaper">
    <h1>KAMI KAROW</h1>
    <h3>Découvre le potentiel de ton cheveu</h3>
    <p>Writing effectively is an art. Start by using simple, everyday words people can easily understand. Be clear and direct to the point. Keep your thoughts flowing logically, and aim for brevity unless you’re writing in the long form.
    </p>
    <button type="button" class="btn btn-dark btn-square" style="width: 15vw;">COMMANDE TON KIT</button>    
  </div>

  <div class="div2 sec center-w stack"> 
    <h2>Inspiré par vos cheveux</h2>
    <img src="../../assets/star_product_on_golden_asymetric_pattern_ui_ux.svg" 
    alt="Representation of the Unik K Hair Kit on an aesthetic pattern or"
    style="width: 350vw;" height="350vh">
  </div>
  <div class="div3 sec center-w stack"> 
    <img src="../../assets/golden_stripe_abstract_pattern_ui_ux.svg" 
    alt="Abstract golden Wavy Lines Wallpaper" 
    class="ui"
    style="width: 30vw;" height="30vh">
    <h2>Simple, Rapide, Précis</h2>
    <img src="../../assets/Tutorial_kit_gif.gif" 
    alt="DESCRIBE HOW OUR PRODUCT WORKS"
    style="width: 90%;" height="500vh" class="gif"></div>
  <div class="div4 sec stack center-w center-h">
    <h3>QUE CONTIENT LE BILAN ?</h3>
    <button type="button" class="btn btn-square" style="width: 15vw;">Télécharger un exemple</button>    
  </div>
</div>