<div class="container" id="container" #container>
  <div class="form-container sign-up-container">
    <form (ngSubmit)="onSubmit(signUpForm, 'signUp')" #signUpForm="ngForm">
      <h2>Inscription</h2>
      <input type="text" placeholder="Prénom" [(ngModel)]="signUpFormModel.firstname" name="firstname" required pattern="^[a-zA-Z]+([a-zA-Z-]{0,1}[a-zA-Z]+){1,19}$" />
      <input type="text" placeholder="Nom de famille" [(ngModel)]="signUpFormModel.lastname" name="lastname" required pattern="^[a-zA-Z]+([a-zA-Z-]{0,1}[a-zA-Z]+){1,19}$"/>
      <input type="email" placeholder="Email" [(ngModel)]="signUpFormModel.email" name="email"  required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"/>
      <input type="password" placeholder="Mot de passe" [(ngModel)]="signUpFormModel.password" name="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" />
      <input type="text" placeholder="Numéro de téléphone" [(ngModel)]="signUpFormModel.phoneNumber" name="phoneNumber" pattern="^\+\d{1,4}\s?\d{1,14}$" />
      <button type="submit">S'INSCRIRE</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form (ngSubmit)="onSubmit(signInForm, 'signIn')" #signInForm="ngForm">
      <h2>Connection</h2>
      <input type="email" placeholder="Email" [(ngModel)]="signInFormModel.email" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" />
      <input type="password" placeholder="Mot de passe" [(ngModel)]="signInFormModel.password" name="password" required />
      <a href="#">Forgot your password?</a>
      <button type="submit">SE CONNECTER</button>
    </form>
  </div>
  <div class="overlay-container display-none">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h3 class="display-none">Vous êtes de retour !</h3>
        <p class="display-none" >Pour rester en contact avec nous, connecter vous. </p>
        <button class="ghost" id="signIn" (click)="showSignInForm()">SE CONNECTER</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h3 class="" >Kaixo, Laguna ! *</h3>
        <p class="">Explorez le cheveu, c'est s'intéresser à la science, aux traditions, à l'histoire... <br>Faites parties de l'aventure. </p>
        <button class="ghost" id="signUp" (click)="showSignUpForm()">S'INSCRIRE</button>
      </div>
    </div>
  </div>
</div>
