 app-navbar{
  width: 100vw;
}
.site-wrapper{
  height: 100vh;

}
.admin{
  margin: 0 !important;
  padding: 0 !important;
}


/* Hauteur dynamique du contenu */
.content {
  height: 85vh;
  overflow-y: auto;
  padding-top: 5vh;
}



.footer {
background-color: pink !important;
height: 7vh !important;
}

/* Admin Mode */
.hide-navbar {
  display: none;
}
.remove-margin-padding {
  margin: 0!important;
  padding: 0 !important;
}

/*************  Scrollbar  ***************/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media screen and (max-width: 1360px) {
  .content {
    height: 93vh;
    overflow-y: auto;
  }
  .nav-off{
    display: none;
  }
  .admin{
    margin: 0px 2px !important;
    padding: 0 !important;
  }
  
}