<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<!--Content on left panel-->
<div class="container">
  <div class="div1" [ngClass]="{ 'resize': selectedMenuItem === 'HairMap' }">
    <!-- ROUTINE-->
    <div class="display-content">

      <div *ngIf="selectedMenuItem === 'Routines' " class="h-full">
        <div *ngIf="!selectedRoutine" class="content-center-center1">
          Sélectionnez une routine pour afficher les détails.
        </div>

        <div *ngIf="selectedRoutine" class="">

          <div class="row">
            <form (ngSubmit)="onSubmit(routine, 'routine')" #routine="ngForm">

              <div class="mb-3">
                <button class="btn  mt-3" (click)="comment.showModal()"><i class="fas fa-comment"></i>
                </button>
                <button class="btn  mt-3" (click)="advice.showModal()"><img src="../../assets/magic_icon.png" alt=""
                    style="width: 20px; height: 20px; ">
                </button>
                <button class="btn  mt-3"><i class="fas fa-share"></i>
                </button>
                <button class="btn mt-3" type="submit"><i class="fas fa-save"></i>
                </button>
                <button class="btn mt-3"><i class="fas fa-trash-alt"></i>
                </button>
              </div>

              <!-- Modal zone for comments and advice-->

              <dialog #comment style="width: 100vw; height: 80vh;">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content" >
                    <div class="modal-header mb-3" style="display: flex; flex-direction: column;" >
                      <div style="justify-content: right;">
                        <button type="button" class="btn" data-dismiss="modal"
                          style="justify-content: right; align-items: right;" (click)="comment.close()">Close</button>
                      </div>
                      <div>
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Commentaires</h5>
                      </div>
                    </div>
                    <div class="modal-body" style="height: 60vh; width: 100%;">
                      <div class="scroll-y">
                        <div *ngFor="let comment of selectedRoutine.comments">
                          <div>
                            <div style="width: 100%; ">
                              <app-comment  [comment]="comment" style="width: 100%;"></app-comment>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </dialog>


              <dialog #advice>
                <p>hello</p>
              </dialog>

              <!-- scroll zone -->
              <div class="scroll">
                <!-- title -->
                <div class="row mb-3">
                  <div>
                    <input class="input-minimalist -header" name="title" type="text"
                      [(ngModel)]="updatedRoutineModel.title" placeholder="Enter your title"
                      value={{selectedRoutine.title}} required pattern="^[a-zA-Z]+([a-zA-Z-]{0,1}[a-zA-Z]+){1,19}$"
                      style="font-size: 2.5em;">
                  </div>
                </div>

                <!-- description -->
                <div class="row mb-5  ">
                  <div>
                    <input class="input-minimalist -description " name="description" type="text"
                      [(ngModel)]="updatedRoutineModel.description" placeholder="Enter your description"
                      value={{selectedRoutine.description}} required
                      pattern="^[a-zA-Z]+([a-zA-Z-]{0,1}[a-zA-Z]+){1,19}$">
                  </div>
                </div>
                <div>
                  <!-- stages -->
                  <div class="input-minimalist" *ngFor="let stage of selectedRoutine.stages; let i = index">

                    <div class="mb-5">
                      <div class="row mb-4">
                        <div class="step-container">
                          <input class="input-minimalist title-box" name="stageTitle_{{i}}" type="text"
                            placeholder="Enter your description" [(ngModel)]="selectedRoutine.stages[i].title"
                            (ngModelChange)="updateStageTitle(i, $event)" required
                            pattern="^[a-zA-Z]+([a-zA-Z-]{0,1}[a-zA-Z]+){1,19}$">

                        </div>
                      </div>
                      <div class="row">
                        <div>
                          <input class="input-minimalist description-box" name="stageDescription_{{i}}" type="text"
                            placeholder="Enter your description" [(ngModel)]="stage.description"
                            (ngModelChange)="updateStageDescription(i, $event)"
                            pattern="^[a-zA-Z]+([a-zA-Z-]{0,1}[a-zA-Z]+){1,19}$">

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>

      <!---Diagnostics -->
      <div *ngIf="selectedMenuItem === 'Diagnostic' " class="h-full row">
        <div *ngIf="!selectedDiagnostic" class="content-center-center1">
          Sélectionnez un diagnostic pour afficher les détails.
        </div>

        <div class="mb-3">
          <button class="btn  mt-3" type="submit"><i class="fas fa-share"></i>
          </button>
          <button class="btn  mt-3" type="submit"><i class="fas fa-trash-alt"></i>
          </button>
        </div>

        <div class="scroll">
          <div *ngIf="selectedDiagnostic">
            <h2 style="font-size: 3em;" class="mb-4 -header">{{ selectedDiagnostic.title }}</h2>
            <section class="mb-4">
              <h4 class="mb-2 title-box">REPORT</h4>
              <p>{{ selectedDiagnostic.report }}

              </p>
            </section>
            <section>
              <h4 class="mb-2 title-box">CONCLUSION</h4>
              <q>{{selectedDiagnostic.conclusion}}</q>
            </section>
          </div>

        </div>


      </div>
      <!-- HAIR MAP -->
      <div *ngIf="selectedMenuItem === 'HairMap' " class="img-container ">
        <div class="image-container">
          <img [src]="imageToShow" class="img" alt="Coming soon image, advertisinf futur features" [@fadeInOut]>
        </div>
      </div>

    </div>
  </div>


  <!--menu on right panel-->
  <div class="div2 ">

    <div (click)="selectMenuItem('Home')" [ngClass]="{ 'selected': selectedMenuItem === 'Home' }">
      <i class="fas fa-home text-secondary" style="color: black !important;"></i>
    </div>
    <div (click)="selectMenuItem('Routines')" [ngClass]="{ 'selected': selectedMenuItem === 'Routines' }">Routines
    </div>
    <div (click)="selectMenuItem('Diagnostic')" [ngClass]="{ 'selected': selectedMenuItem === 'Diagnostic' }">
      Diagnostic
    </div>
    <div (click)="selectMenuItem('HairMap')" [ngClass]="{ 'selected': selectedMenuItem === 'HairMap' }">Hair Map</div>
  </div>


  <!-- selectable items on right panel-->
  <div class="div3 scroll-y" *ngIf="selectedMenuItem === 'Routines' ">
    <div *ngFor="let routine of routines" (click)="selectRoutine(routine)" class="mb-3 element-container">
      <div class="item-of-list">
        <div> {{ routine.title }}</div>
        <div class="none">
          <p>Créer le {{routine.createdOn | date: 'dd/MM/yyyy' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="div3 scroll-y" *ngIf="selectedMenuItem === 'Diagnostic' ">
    <div *ngFor="let diagnostic of diagnostics" (click)="selectDiagnostic(diagnostic)" class="mb-3 element-container">
      <div class="item-of-list">{{ diagnostic.title }} </div>
    </div>
  </div>

  <div class="div3 scroll-y" *ngIf="selectedMenuItem === 'HairMap' " class="elements"
    [ngClass]="{ 'remove': selectedMenuItem === 'HairMap' }">
    <div class="mb-3 element-container">
      <div class="item-of-list"> test</div>
    </div>
  </div>
  <!-- end of selectable items on right panel-->



</div>