@font-face {
    font-family: 'IBMPlexMono-SemiBold';
    src: url('../src/assets/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'IBMPlexMono-Light';
    src: url('../src/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'IBMPlexMono-MediumItalic';
    src: url('../src/assets/fonts/IBM_Plex_Mono/IBMPlexMono-MediumItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'IBMPlexMono-Regular';
    src: url('../src/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
  }